import subprocess
import time
import os
import json

streamer_name = "NAME_OF_STREAMER"
quality = "best" # choose quality
save_folder = "PLACE_FOR_SAVE"

if not os.path.exists(save_folder):
    os.mkdir(save_folder)

while True:
    try:
        file_name = f"{streamer_name} - {time.strftime('%Y-%m-%d %H-%M-%S')}.mp4" # Create a file name with the current date and time
        file_path = os.path.join(save_folder, file_name)
        subprocess.call(["streamlink", f"https://www.twitch.tv/{streamer_name}", quality, "-o", file_path])
        print("Stream is live, starting recording...")
    except Exception as e:
        print("Stream is offline, checking again in 60 seconds...")
        time.sleep(60)

